[Install]
WantedBy=multi-user.target

[Unit]
Description=Miniflux RSS Reader

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/miniflux-linux-amd64 -c __FINALPATH__/miniflux.conf